body{
    font-family: 'Times New Roman', Times, serif;
    background-color: color beige;
     
    }

a{
    text-decoration: none;
    color:antiquewhite
}

.navbar p{
    color: antiquewhite;
    margin-left: 600px;
}

.header{
    background-color: grey;
    padding: 30px;
    display: flex;
}

.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: auto;
    text-size-adjust: 10px;
}
.navactive a{
    color: white;
    text-decoration: underline;
}

.content{
    justify-content: center;
    align-items: center;
    
}

.section1{
  
    display:flex;
    gap: 30px;
    margin: 40px;
    align-items: center;
}



.section1 p{
    gap: 30px;
    margin: 40px;
    align-items: center;
    border: 40px solid beige;
    border-radius: 8px ;
}

.section1 img{
    width: 400px;
    align-items: flex-start;
}

.section2 {
      justify-content: center;
      display:flex;
      gap: 30px;
      margin: 40px;
      align-items: center;
}

.section2 p{
   border: 40px solid beige;
    border-radius: 8px ;
    margin: auto;
 
}


.section2 img{
    width: 500px;
    align-items: center
    
}

.section3 {
      display:flex;
      gap: 30px;
      margin: 40px;
      align-items: center;
}

.section3 p{
    border: 40px solid beige;
    border-radius: 8px ;
    margin: auto;
 
 
}

.section3 img {
    width: 400px;
    align-items: flex-start;
}


.contact{
     background-color: grey;
    padding: 30px;
    display: flex;
}

.Contact_info{
    color: white;
}